<html>
<head>
<link rel="stylesheet" href="css/fonts/stylesheet.css" type="text/css" charset="utf-8" />
<script src="js/jquery.js"></script>
<script src="js/angular.min.js"></script>
<link rel="stylesheet" href="css/upkeeper.css" type="text/css" />
</head>
<body>

<script src="coffee/library.js"></script>
<script src="coffee/beeminder.js"></script>
<script src="coffee/app.js"></script>
<script src="coffee/task.js"></script>

<div ng-app="upkeeper" ng-controller="BeeminderCtrl">

    <div ng-controller="TaskCtrl">
        [<a href="" ng-click="togglePanel()">add</a>]
        [<a href="" ng-click="toggleDelete()">delete</a>]
        
        <div class="delete-{{deleteMode}}">
            <form ng-submit="deleteTasks()">
                <input type="submit" value="delete" />
            </form>
        </div>
        
        <div class="panel-{{panelVisible}}">
            <form ng-submit="newTask()">
                <input type="text" ng-model="newName" placeholder="task name" /> <label><input type="checkbox" ng-model="newCountable" /> countable?</label>
            
                <div ng-repeat="item in items">
                    <input type="number" ng-model="item.points" value="1" step="any" />

                    <select class="slugs" ng-model="item.slug">
                        <option ng-repeat="slug in slugs">{{slug}}</option>
                    </select>
                </div>
                
                <input type="button" value="+" ng-click="addItem()" /> <br /> &nbsp; <br />

                <input type="submit" value="add" />
                <label><input type="checkbox" ng-model="batchAdd" /> batch add</label>
            </form>
        </div>

        <ul class="taskList">
            <li ng-repeat="task in tasks" class="task" ng-click="submit(task)">
                {{task.comment}}
                <input type="checkbox" ng-model="task.toDelete" class="delete-{{deleteMode}}" eat-click />
            </li>
        </ul>
    </div>

    <form ng-submit="authenticate()">
        <input type="text" ng-model="token" />
        <input type="submit" value"login" /><br />
        <input type="button" value="submit" ng-click="pushData()" />
    </form>

    <div>
        <div ng-repeat="(slug, sdata) in data">
            <h1>{{slug}} ({{getSlugValue(slug)}})</h1>
            <ul>
                <li ng-repeat="task in data[slug] | orderBy:'value':true">
                    <input type="button" value="-" ng-click="deleteData(slug, task)" /> {{task.comment}} ({{task.value}})
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>