<html>
<head>
<link rel="stylesheet" href="css/fonts/stylesheet.css" type="text/css" charset="utf-8" />
<script src="js/jquery.js"></script>
<script src="js/angular.min.js"></script>
<link rel="stylesheet" href="css/upkeeper.css" type="text/css" />
</head>
<body>

<script src="coffee/library.js"></script>
<script src="coffee/beeminder.js"></script>
<script src="coffee/templates.js"></script>
<script src="coffee/app.js"></script>
<script src="coffee/task.js"></script>

<div ng-app="upkeeper" ng-controller="BeeminderCtrl">

    <div ng-controller="TaskCtrl">
        [<a href="" ng-click="togglePanel()">add</a>]
        [<a href="" ng-click="toggleDelete()">delete</a>]
        
        <div class="delete-{{deleteMode}}">
            <form ng-submit="deleteTasks()">
                <input type="submit" value="delete" />
            </form>
        </div>
        
        <div class="panel-{{panelVisible}}">
            <label><input type="checkbox" ng-model="batchAdd" /> batch add</label>
            <form ng-submit="newTask()">
                <input type="text" ng-model="newText" placeholder="task name" />
                <input type="number" ng-model="newPoints" value="1" step="any" />
                <input type="checkbox" ng-model="newCountable" />
                <br />
                
                <select class="slugs" ng-model="newSlug">
                    <option ng-repeat="slug in slugs">{{slug}}</option>
                </select>

                <input type="submit" value="add" />
            </form>
        </div>

        <ul class="taskList">
            <li ng-repeat="task in tasks" class="task" ng-click="submit(task)">
                {{task.text}} <span class="points">{{task.points}}</span>
                <input type="checkbox" ng-model="task.toDelete" class="delete-{{deleteMode}}" eat-click />
            </li>
        </ul>
    </div>

    <div class="output"></div>

    <form ng-submit="authenticate()">
        <input type="text" ng-model="token" />
        <input type="submit" /><br />
    </form>

    <ul class="tasks">
    </ul>

</div>

</body>
</html>